#image{
    width: 25% ;
    height: 25% ;
}
#div{
    background-color: rgb(212, 255, 0);
    width: 40%;
    height: 76%;
    box-shadow: 5px 5px 30px rgb(244, 241, 241);
}
body{
    background-image: url("Sky\ and\ bird.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}